<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mfgpker.worklog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkLog">
        <activity
            android:name=".stats.MonthStatsActivity"
            android:exported="false" />
        <activity
            android:name=".log.MultipleLogActivity"
            android:exported="false" />
        <activity
            android:name=".OverviewActivity"
            android:exported="false" />
        <activity
            android:name=".selectModal.SelectDateActivity"
            android:exported="false" />
        <activity
            android:name=".log.TodayLogActivity"
            android:exported="false" />
        <activity
            android:name=".UserConfigActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>